.about-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding: 30px;
}
.div1 {
  width: 600px;
  font-size: large;
}
